{% extends 'base.html'%}
{% load static %}

{% block content %}
<section class="auth_background py-5">
    <div class=" container card p-5" style="width: 40%;">
        <h3 class="text-center">Sign in to your account </h3>
        <form id="login_form">
            {% csrf_token %}
            <input type="hidden" value="user" name="user_type">
            <div class="mb-4 mt-5">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="******">
            </div>
            <div class="d-flex flex-row-reverse mb-4">
                <a href="{% url 'forgot_password' %}">Forgot Password ?</a>
            </div>
            <div class="mb-5">
                <button type="submit" class="btn  btn-dark w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right mx-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg> 
                    Sign In
                </button>
            </div>
            <div class=" d-inline text-center">
                <div class="text-center">
                    <a class="bolder" href="{% url 'register' %}"> Don't have an account ? </a> 
                </div>
            </div>
        </form>
    </div>
</section>

<script src="{% static 'js/auth.js' %}"></script>

{% endblock content %}