{% extends 'base.html'%}
{% load static %}

{% block content %}

<section class="auth_background py-5">
    <div class=" container card p-5" style="width: 50%;">
        <h3 class="text-center">Create your account </h3>
        <form id="register_form">
            {% csrf_token %}
            <input type="hidden" value="user" name="user_type">
            <div class="mb-4 mt-5">
                <label for="exampleInputName" class="form-label">Name</label>
                <input type="name" class="form-control" id="name" name="name" placeholder="name">
            </div>
            <div class="mb-3">
                <label for="contact" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="contact" name="contact" placeholder="1234567890">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email Id</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
          
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                <textarea class="form-control" id="address" name="address" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="******">
            </div>
            <!-- <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="conf_password" name="conf_password"
                    placeholder="******">
            </div> -->
            <div class="mb-5">
                <label for="exampleInputPassword2" class="form-label">Profile Image</label>
                <input type="file" class="form-control" id="image" name="image" aria-label="Upload">
            </div>
            <div class="mb-5">
                <button type="submit" class="btn  btn-dark w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person mx-2" viewBox="0 0 16 16">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z" />
                    </svg>
                    Sign Up
                </button>
            </div>
            <div class=" d-inline text-center">
                <div class="text-center">
                    <a class="bolder" href="{% url 'login' %}"> Already have an account ? </a>
                </div>
            </div>
        </form>
    </div>
</section>

<script src="{% static 'js/auth.js' %}"></script>

{% endblock content %}