/* Override Bootstrap variables to customize the theme */
:root {
  --primary: #4576e8;
  --lightPrimary: #0b0a0b;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --violet:#1c0522;
  --dark: #343a40;

  /* Customize button styles */
  --btn-border-radius: 0.5rem;
  --btn-font-family: "Your Custom Font", sans-serif;

  /* Customize card styles */
  --card-border-radius: 1.25rem;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--primary);
}

/* Customize button styles */
.btn-primary,
.btn-outline-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

/* Customize navbar styles */
.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1c0522;
}

/* Customize navbar brand styles */
.navbar-brand {
  margin-left: 3%;
  color: var(--primary);
  font-weight: bolder;
  font-size: xx-large;
  font-family:monospace;
  
}

.nav-link {
  font-weight: 600;
  margin-top: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-link:hover{
  color: #dc3545;
}
.nav-link:active {
  color: rgb(223, 15, 105);
}
/* Customize carousel item styles */
.carousel-item {
  height: 90vh;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.form-control {
  border: 0.5px solid var(--primary);
  border-radius: 10px;
  padding: 10px;
}

/* Additional styling for focused form fields */
.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(15, 14, 15, 0.25);
}

.btn {
  padding: 10px;
  border-radius: 10px;
}

.nav-link {
  color: var(--dark);
}

#imagePreview {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary);
  color: var(--light); /* Set the text color to white for better visibility */
}

/* .nav-item:hover .dropdown-menu {
  display: block;
  right: auto;
  left: 0;
} */

.auth_background {
  background-image: linear-gradient(
      rgba(89, 41, 185, 0.6),
      rgba(88, 45, 141, 0.6)
    ),
    url(../images/skye-studios-NDLLFxTELrU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.scrollable-div {
  overflow-y: auto;
  padding: 10px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ddd #fff; /* Firefox */
}

/* Webkit (Chrome, Safari) scrollbar customization */
.scrollable-div::-webkit-scrollbar {
  width: 6px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.scrollable-div::-webkit-scrollbar-track {
  background-color: #fff;
}

.carousel-item {
  height: 86vh;
}

.input-group-icon {
  position: relative;
}

.input-group-icon input {
  padding-right: 40px; /* Adjust as needed based on the icon size */
}

.input-group-icon .input-group-text {
  position: absolute;
  top: 50%;
  right: 12px; /* Adjust the distance from the input field */
  transform: translateY(-50%);
  color: #495057; /* Adjust the icon color */
  background-color: transparent;
  border: none;
}
.video-container {
  height: 100vh;
  width:100Vw;
  position: relative;
}

.video-container video {
width: 100%;
height: 100%;
position: absolute;
object-fit: cover;
z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
z-index: 1;
position: relative;
padding: 10px;
}

/* .text-muted {
  color: aqua;
    /* display: table;
    margin: 2em auto 0;
    padding: 1em;
    text-align: center;
    color: hsl(203, 89%, 53%);
    text-decoration: none;
    font-family: cursive;
} */


.detail-box {
  padding-right: 20px;
}

.logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/*  */

