{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{APP_NAME}}</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'lib/DataTables/datatables.min.css' %}">


    <!-- Include Bootstrap JS -->
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <script src="{% static 'lib/jquery/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'lib/chart.js' %}"></script>
    <script src="{% static 'utils/ajax_base.js' %}"></script>
    <script src="{% static 'utils/data_table.js' %}"></script>
    <script src="{% static 'utils/urls.js' %}"></script>
    <script src="{% static 'lib/DataTables/datatables.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'utils/sweet_alerts.js' %}"></script>


</head>

<body class="bg-body-secondary">
    {% block content %}
    {% endblock content %}

</body>

</html>